In [23]:
# FIND THE NUMBER IS EVEN OR ODD
a=int(input())
def even_or_odd(a):
    if a%2==0:
        return f"The number is {a} even "
    else:
        return f"The number is {a} odd"
even_or_odd(a)

 3

'The number is 3 odd'

In [30]:
def even_or_odd(a):
    if a%2:
        print("odd")
    else:
        print("even") 
print(even_or_odd(10))

even
None

In [29]:
def even_or_odd(a):
    if a%2:
        return "odd"
    else:
        return "even" 
print(even_or_odd(10))

even

In [31]:
def even_or_odd(a):
    if a%2:
        return "odd"
    else:
        return "even" 
result = even_or_odd(10)
result

'even'

In [32]:
result

'even'

In [2]:
def even_or_odd(a):
    if a%2:
        return False
    else:
        return True
result = even_or_odd(10)
result
if result == True:
    print("Number is even")
else: 
    print("Number is odd")

Number is even

In [6]:
# FIND string length without using len()
a=input()
def len_of_string(a):
    counter = 0
    for _ in a:
        counter=counter+1
        print(counter)
len_of_string(a)

 abc

1
2
3

####Types of arguments
1. positional arguments
2. keyword arguments
3. Default arguments
4. variable-length positional arguments
5. variable-length of keyword arguments

In [38]:
# positional arguments
# subtraction of two numbers using functions
def sub(n1,n2):
    res=n1-n2
    return res
a=int(input())
b=int(input())
print(sub(a,b))  # n1- a, n2 -b

 2
 3

-1

In [39]:
def sub(n1,n2):
    res=n1-n2
    return res
a=int(input())
b=int(input())
print(sub(b, a))  # position of arguments changing the result is changing  to overcome this, we use keyword arguments

 3
 2

-1

In [42]:
def sub(n1,n2):
    res=n1-n2
    return res
a,b = 10,5
print(sub(a,b))
print(sub(b,a))

5
-5

In [41]:
# keyword arguments
def sub(n1,n2):
    res=n1-n2
    return res
a,b=10,5
print(sub(n1=a,n2=b))  # n1 = a, n2 = b
print(sub(n2=b,n1=a))

5
5

In [ ]:
# sum of two numbers using functions
# sum of three numbers using functions
# sum of 4 numbers using  functions

In [13]:
numbers = input()   
def sum_of_number(numbers):
    total = 0
    for n in numbers:
        total = total + int(n)
    print(total)
sum_of_number(numbers)

 1234

10

In [48]:
# list properties
# list elements accessed by  using index positions
lst=[10,2,4,4.534, 'hi', 'hello']
print(lst[2])
print(lst[-3])
print(lst[:3])

4
4.534
[10, 2, 4]

In [51]:
# nested list element access
lst=[1,2,3,4,[10,30,50],29,1,3]
print(lst[4][2])

50

In [53]:
lst=[1,2,3,4,[10,30,50,[1,2,3],29,1,3]]
print(lst[4][3][2])

3

In [15]:
# mutable
list=[1,2,3,40,'hi','hello']
list[0] = 100
print(list)

[100, 2, 3, 40, 'hi', 'hello']

In [50]:
# string is immutable
s='abc'
s[0]='b'
print(s)

TypeError: 'str' object does not support item assignment

In [16]:
# reading list of elements from user
l = map(int, input().split())
print(type(l), l)

 1 2 3 4

<class 'map'> <map object at 0x000002687A798250>

In [18]:
# reading list of integer elements from user
l = list(map(int, input().split()))
print(type(l), l)

 1 2 3.3

TypeError: 'list' object is not callable

In [19]:
# reading list of elements from user
l = list(map(int, input().split()))
print(type(l), l)

 1 2 abc

TypeError: 'list' object is not callable

In [24]:
# read list of numbers and if number is even add 0.5 and if number is odd add 1
# lst = [1,2,3,4,5]
# res = [2, 2.5, 4, 4.5, 6]
lst = list(map(int, input().split()))

for i in range(len(lst)):
    if lst[i] % 2 == 0:      # even
        lst[i] = lst[i] + 0.5
    else:                   # odd
        lst[i] = lst[i] + 1

print(lst)

 1 2 3

[2, 2.5, 4]

In [23]:
del list